@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.blank-header {
  padding-bottom: 180px;
}

.gitlab-content-container {
  transform: translateY(-220px);

  @media all and (max-width: $screen-sm-min) {
    transform: translateY(-170px);
  }
}

.contact-tiles {

  .tile {

    @media all and (max-width: $screen-lg-min) {
      margin-bottom: 30px;
    }
  }

  img {
    height: 30px;
    margin-bottom: 10px;
  }

  h4 {
    color: $color-black;
  }

  p {
    color: $color-gray;
  }
}

.contact-content {
  margin-top: 0;

  @media all and (max-width: $screen-sm-min) {
    margin-top: 20px;
    transform: translateY(0);
    margin-bottom: 0;
  }

}

.newsletter-form-content {
  padding-right: 30px;

  @media all and (max-width: $screen-sm-min) {
    flex-wrap: wrap;
    margin-top: 30px !important;
    height: 100% !important;
  }

  p:last-child:hover {
    opacity: .8;
  }
}
