---
layout: default
extra_css:
  - home.css
  - maturity.css
extra_js:
  - libs/on-scroll.js
  - home.js
  - all-clickable.js
  - libs/moment.min.js
  - maturity.js
title: "Maturity"
---

.container
  
  .maturity-intro
    %p
      GitLab has a 
      = succeed "," do 
        %a{href: "/direction/"} broad scope and vision
      and we are constantly 
      %a{href: "/handbook/values/#iteration"} iterating
      on existing and new features. Some features are more mature and polished than others. To better convey the state of our feature set and be 
      = succeed "," do 
        %a{href: "/handbook/values/#transparency"} transparent
      we have developed a maturity framework.

    %p
      Each feature and 
      %a{href: "/handbook/product/use-cases/#use-case-maturity"} use case
      is grouped into a 
      = succeed "," do
        %a{href: "/handbook/product/categories/"} category
      representing high-level capabilities. Every category is then assigned one of five
      = succeed ":" do
        %a{href: "#legend"} maturities
      .legend-wrapper
        = partial "includes/product/maturity_legend"

.container
  %section.maturity-tables

    .maturity-scroll

    %h2 Category maturity

    .sdlc-container.position-relative#maturity-no-padding
      .sdlc-table
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
          .sdlc-column
            .stage-container
              %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
                = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
              %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
                %p #{stage.display_name}
            .solutions-container
              - category_keys = data.categories.keys.keep_if { |k| data.categories[k].stage == stage.key && data.categories[k].available}
              - if category_keys.length >= 1
                .current-categories
                  .stage-column
                    .category-list
                      - category_keys.each do |key|
                        .category
                          .category-cell
                            %a{ href: "https://about.gitlab.com/handbook/product/categories/maturity/#legend"}
                              = partial "/images/maturity/#{maturity(data.categories[key], Date.today)}.svg"
                          .category-cell
                            - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                            %a{ href: "#{url}" } #{data.categories[key].name}

    %h2 Maturity plan

    %table.table
      %thead.header-fixed
        %tr
          %th
            Category
          %th.text-center
            Today
          %th.text-center
            Q1
          %th.text-center
            Q2
          %th.text-center
            Q3
          %th.text-center
            Q4
      %tbody
        %tr
          %td
            %i Date
          %td.text-center
            %i 
              %span#today
          %td.text-center
            %i 2019-04-30
          %td.text-center
            %i 2019-07-31
          %td.text-center
            %i 2019-10-31
          %td.text-center
            %i 2020-01-31
        - data.stages.stages.each do |stageKey, stage|
          - categories = data.categories.select{|catKey,cat| cat.stage==stageKey && !cat.hide && !cat.available.blank?}
          - next if categories.empty?
          %tr
            %td
              %b #{stage.display_name.upcase} STAGE
            %td{:colspan => 5}
          - categories.each do |categoryKey, category|
            %tr
              %td
                - if category.vision 
                  %a{href: "#{category.vision}"} #{category.name}
                - else
                  = category.name
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(category, Date.today)}.svg"
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(category, Date.new(2019,04,30))}.svg"
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(category, Date.new(2019,07,31))}.svg"
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(category, Date.new(2019,10,31))}.svg"
              %td.maturity-cell
                = partial "/images/maturity/#{maturity(category, Date.new(2020,01,31))}.svg"